body {
font-family: Arial;
background: #f2f6ff;
text-align: center;
}
h2, h1 {
color: #003366;
}
form, table {
margin: 20px auto;
padding: 20px;
border: 1px solid #ccc;
background: white;
border-radius: 8px;
}
input, select, button {
margin: 10px;
padding: 8px;
}
button {
background: #003366;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
}
button:hover { background: #0055aa; }